.textEllipsis {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

* {font-size: 15px;}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-color: #e0e0e0;
}
